* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
  /* body {
  background-image: url(./todoBackground.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
} */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(120, 255, 215, 0.301);
  border-radius: 10px;
}

/* Handle on hover */


::placeholder {
  color: #007991;
  opacity: 0.7;
  letter-spacing: 5px;
}

.sectionsContainer {
  height: 430px;
  display: flex;
  flex-direction: column;
  margin: 5% auto 0 auto;
  overflow-y: scroll;
}
.pendingSection {
  height: 50%;
  text-align: start;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  letter-spacing: 2.5px;
  padding: 0 1% 5% 0;
  margin-bottom: 10%;
}

.completeSection{
  height: 50%;
  text-align: start;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  letter-spacing: 2.5px;

}

.todoContainer {
  overflow-y: scroll;
  max-height: 100%;
}

.dimmedSectiontTitle {
  border: none;
  color: rgba(255, 255, 255, 0.596);
}

.boldSectionTitle {
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  color: white;
}

.todoItem {
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid white;
  color: #007991;
}

.pendingSectionButtons {
  width: 63px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.CompleteSectionButton {
  width: 63px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

