* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
	

}

.app {
	margin: 40px auto;
	max-width: 500px;
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	font-size: 48px;
	padding-bottom: 21px;
	font-weight: 300;
	padding-top: 43px;
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;
}

input {
	padding: 2% 0 2% 2%;
	border-style: none;
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	outline: none;
}


.todosListContainer{
 margin-top: 2em;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 padding-left: 2%;

}

.dimmedListTitle{
  border: none;
  opacity: 0.6;
  
  
}

.normalListTitle{
   border-bottom: 1px solid rgba(128, 128, 128, 0.425);
   padding-bottom: 2%;
}

.todoItem{
	font-size: 18px;
	padding-top: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}